.mainContainer {
    @apply flex w-full lg:justify-between items-center px-4 py-4 lg:px-16 xl:px-24 text-white bg-black font-poppins font-semibold z-10;
}

.navbar {
    @apply hidden lg:flex justify-between gap-12 lg:w-[60%] xl:w-[67%] items-center cursor-pointer;
}

.navList {
    @apply lg:flex gap-6;
}

.navItems {
    position: relative;
    /* other styles for navItems */
  }
  
  .navItems::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 0;
    height: 2px; /* Thickness of the underline */
    background-color: currentColor; /* Color of the underline */
    transition: width 0.3s ease-in-out;
  }
  
  .navItems:hover::after {
    width: 100%;
  }  

.buttons {
    @apply hidden lg:flex gap-12 items-center;
}


/* Mobile Nav styles */
.mobileNav {
    @apply w-full flex justify-between items-center z-10 lg:hidden;
}

.mobileNavList {
    @apply flex flex-col gap-2 mt-8;
}

.mobileButtons {
    @apply flex flex-col items-start gap-2 mt-6;
}

.login {
    @apply flex items-center gap-2 hover:text-[18px] hover:text-primary;
}

.register {
    @apply flex items-center justify-center w-[160px] h-[38px] text-white gap-2 bg-primary rounded-[20px] text-center text-[16px] hover:bg-[#e6a657];
}

.settingsIcon {
    @apply w-[20px] h-[20px] cursor-pointer hover:w-[24px] hover:h-[24px];
}
